header {
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 99;
}

.header{
  display: flex;
  justify-content: flex-end;
    padding: rem-calc(10px 0);
    @include media-breakpoint-up(md) {
      padding: rem-calc(20px 0);
    }
  &.show{
    .menu-close{
      display: block;
    }
    .menu-bar{
      display: none;
    }
  }
}

.nav{
  font-family: 'Noto Sans JP';
  font-weight: 500;
  font-size: rem-calc(16px);
  line-height: rem-calc(23px);
  padding: rem-calc(20px);
    display: block;
    position: absolute;
    top: 100%;
    background-color: $blue;
    width: 100%;
    right: 0;
    text-align: center;
    @include media-breakpoint-up(md) {
      padding: 0;
      display: flex;
      position: relative;
      background-color: transparent;
      width: auto;
      right: auto;
      top: auto;
      text-align: unset;
    }
  &-item{
      margin: rem-calc(0 4px);
      @include media-breakpoint-up(lg) {
        margin: rem-calc(0 12px);
      }

      &:last-child{
        margin-right: 0;
      }
  }
}

.menu-list{
  display: none;
  opacity: 0;
  visibility: hidden;
  @include media-breakpoint-up(md) {
    display: block;
    visibility: visible;
    opacity: 1;
  }
  &.show{
    opacity: 1;
    visibility: visible;
    display: block;
  }
}

.menu-close{
  display: none;
}


