.footer{
  &__top{
    background-image: url('../images/footer.png');
    position: relative;
    padding: rem-calc(80px 0);
    &:before{
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      background-color: rgba(0, 0, 0, 0.8);
      width: 100%;
      height: 100%;
    }
  }
  &-menu{
    padding: 0;
    margin-bottom: rem-calc(40px);
    @include media-breakpoint-up(md) {
      margin-bottom: rem-calc(0px);
    }
    &__list{
      list-style: none;
      color: $white;
      margin-bottom: rem-calc(20px);
      @include media-breakpoint-up(md) {
        margin-bottom: rem-calc(40px);
      }
      @include media-breakpoint-up(lg) {
        margin-bottom: rem-calc(60px);
      }
      &:last-child{
        margin-bottom: rem-calc(10px);
      }
    }
    &__link{
      color: $white;
      &:hover,
      &:active{
        color: $primary!important;
      }
    }
  }
  &__bottom{
    padding: rem-calc(30px 0);
  }
  &__text{
    font-size: rem-calc(15px);
    font-weight: 500;
    color: $gray-700;
  }
}

.social-link {
  margin: rem-calc(22px 10px);
}

.icn{
  height: 20px;
  width: auto;
  fill: $gray-700;
  &:hover{
    fill: $primary;
  }
}