@font-face {
  font-family: '';
  src: url('../fonts/NotoSansJP-Bold-Alphabetic.eot');
  src: url('../fonts/NotoSansJP-Bold-Alphabetic.eot?#iefix') format('embedded-opentype'),
      url('../fonts/NotoSansJP-Bold-Alphabetic.woff2') format('woff2'),
      url('../fonts/NotoSansJP-Bold-Alphabetic.woff') format('woff'),
      url('../fonts/NotoSansJP-Bold-Alphabetic.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: '';
  src: url('../fonts/NotoSansJP-Black-Alphabetic.eot');
  src: url('../fonts/NotoSansJP-Black-Alphabetic.eot?#iefix') format('embedded-opentype'),
      url('../fonts/NotoSansJP-Black-Alphabetic.woff2') format('woff2'),
      url('../fonts/NotoSansJP-Black-Alphabetic.woff') format('woff'),
      url('../fonts/NotoSansJP-Black-Alphabetic.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: '';
  src: url('../fonts/NotoSansJP-Light-Alphabetic.eot');
  src: url('../fonts/NotoSansJP-Light-Alphabetic.eot?#iefix') format('embedded-opentype'),
      url('../fonts/NotoSansJP-Light-Alphabetic.woff2') format('woff2'),
      url('../fonts/NotoSansJP-Light-Alphabetic.woff') format('woff'),
      url('../fonts/NotoSansJP-Light-Alphabetic.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: '';
  src: url('../fonts/NotoSansJP-Medium-Alphabetic.eot');
  src: url('../fonts/NotoSansJP-Medium-Alphabetic.eot?#iefix') format('embedded-opentype'),
      url('../fonts/NotoSansJP-Medium-Alphabetic.woff2') format('woff2'),
      url('../fonts/NotoSansJP-Medium-Alphabetic.woff') format('woff'),
      url('../fonts/NotoSansJP-Medium-Alphabetic.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: '';
  src: url('../fonts/NotoSansJP-Thin-Alphabetic.eot');
  src: url('../fonts/NotoSansJP-Thin-Alphabetic.eot?#iefix') format('embedded-opentype'),
      url('../fonts/NotoSansJP-Thin-Alphabetic.woff2') format('woff2'),
      url('../fonts/NotoSansJP-Thin-Alphabetic.woff') format('woff'),
      url('../fonts/NotoSansJP-Thin-Alphabetic.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: '';
  src: url('../fonts/NotoSansJP-Regular-Alphabetic.eot');
  src: url('../fonts/NotoSansJP-Regular-Alphabetic.eot?#iefix') format('embedded-opentype'),
      url('../fonts/NotoSansJP-Regular-Alphabetic.woff2') format('woff2'),
      url('../fonts/NotoSansJP-Regular-Alphabetic.woff') format('woff'),
      url('../fonts/NotoSansJP-Regular-Alphabetic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('../fonts/SourceSansPro-Regular.eot');
  src: url('../fonts/SourceSansPro-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/SourceSansPro-Regular.woff2') format('woff2'),
      url('../fonts/SourceSansPro-Regular.woff') format('woff'),
      url('../fonts/SourceSansPro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.eot');
  src: url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Roboto-Regular.woff2') format('woff2'),
      url('../fonts/Roboto-Regular.woff') format('woff'),
      url('../fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Bold.eot');
  src: url('../fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Roboto-Bold.woff2') format('woff2'),
      url('../fonts/Roboto-Bold.woff') format('woff'),
      url('../fonts/Roboto-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Medium.eot');
  src: url('../fonts/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Roboto-Medium.woff2') format('woff2'),
      url('../fonts/Roboto-Medium.woff') format('woff'),
      url('../fonts/Roboto-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}




