a{
  text-decoration: none;
  &:hover{
    text-decoration: none;
    cursor: pointer;
  }
}

.icn-arrow{
  fill: $black;
  width: rem-calc(16px);
  height: rem-calc(16px);
  @include media-breakpoint-up(md) {
    width: rem-calc(20px);
  height: rem-calc(20px);
  }
  &--white{
    fill:$white;
    width: rem-calc(20px);
    height: rem-calc(20px);
    @include media-breakpoint-up(md) {
      width: rem-calc(26px);
    height: rem-calc(26px);
    }
  }
}

.arw-btn{
  font-size: rem-calc(16px);
  line-height: 20px;
  letter-spacing: 0.06em;
  &--sm{
    font-size: rem-calc(14px);
  }
  &__link{
    color: $black;
    &:hover{
      color: $primary;
    }
  }
  &:hover{
    .icn-arrow{
      fill: $blue;
      &--white{
        fill: $white;
      }
    }
  }
}

.row-sm{
  margin-right:rem-calc(-13px);
  margin-left: rem-calc(-13px);
}
.col-sm{
  padding-right:rem-calc(13px);
  padding-left: rem-calc(13px);
}

.menu-bar{
  width: 32px;
  height: 32px;
  fill: $white;
  &:hover{
    fill: $gray-200;
  }
}

.menu-close{
  width: 18px;
  height: 18px;
  fill: $white;
  &:hover{
    fill: $gray-200;
  }
}

.col-xs-6{
  @include media-breakpoint-down(sm) {
    width: 50%;
  }
}