.j-cta{
  background-color: $grey-lt;
  padding: rem-calc(14px 0);
  &__block{
    margin: rem-calc(10px 60px 10px 0px);
    &:last-child{
      margin-right: 0;
    }
  }
  &__content,
  &__date{
    font-family: 'Source Sans Pro';
    font-size: rem-calc(18px);
  }
  &__right{
    padding: rem-calc(10px 0);
  }
}