.j-info{
  padding-bottom: rem-calc(22px);
  &__block{
    position: relative;
    margin-bottom:rem-calc(20px) ;
    &:after{
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      bottom: 0;
      left: 0;
      background: -moz-linear-gradient(bottom, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.6) 20%, rgba(0,0,0,0.4) 35%, rgba(255,255,255,0.2) 50%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(bottom, rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.6) 20%,rgba(0,0,0,0.4) 35%,rgba(255,255,255,0.2) 50%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to top, rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.6) 20%,rgba(0,0,0,0.4) 35%,rgba(255,255,255,0.2) 50%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    }
  }
  &__img{
    position: relative;
    &:after{
      content: "";
      padding-bottom: rem-calc(342px);
      display: block;
    }
    img{
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__content{
    position: absolute;
    bottom: 0;
    left: 0;
    padding: rem-calc(24px 24px 16px 24px);
    z-index: 3;
  }
  &__sub-title{
    font-weight: 500;
    font-size: rem-calc(20px);
    line-height: 29px;
    color: $white;
    padding-bottom: rem-calc(14px);
    a{
      color: $white;
      &:hover{
        color:$blue;
      }
    }
  }
  &__title{
    font-family: 'Roboto';
    font-weight: 600;
    font-size: rem-calc(45px);
    line-height: 70px;
    color: $white;
    @include media-breakpoint-up(md) {
      font-size: rem-calc(55px);
    }  
    @include media-breakpoint-up(lg) {
      font-size: rem-calc(70px);
    }
    a{
      color: $white;
      &:hover{
        color:$blue;
      }
    }
  }
}