.j-learn{
  &__info{
    padding: rem-calc(44px 38px);
    background-image: linear-gradient(to right, #4f4dca, #4263d4, #3c76dc, #4188e0, #5099e2);
    max-width: rem-calc(709px);
    min-height: rem-calc(240px);
    @include media-breakpoint-up(md) {
      padding: rem-calc(54px 58px);
      max-width: 62%;
    }  
    @include media-breakpoint-up(lg) {
      padding: rem-calc(64px 98px);
      min-height: rem-calc(300px);
    }
    @include media-breakpoint-up(xl) {
      padding: rem-calc(74px 118px);
      min-height: rem-calc(403px);
    }
  }
  &__wrap{
    color: $white;
  }
  &__title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: rem-calc(28px);
    line-height: 40px;
    padding-bottom: rem-calc(20px);
    @include media-breakpoint-up(md) {
      font-size: rem-calc(38px);
      padding-bottom: rem-calc(28px);
      line-height: 46px;
    }  
    @include media-breakpoint-up(lg) {
      font-size: rem-calc(49px);
      max-width: rem-calc(380px);
      padding-bottom: rem-calc(34px);
      line-height: 50px;
    }
  }
  .arw-btn{
    font-size: rem-calc(17px);
    line-height: 29px;
    margin-bottom: rem-calc(16px);
    @include media-breakpoint-up(md) {
      font-size: rem-calc(20px);
    }
    &__link{
      color: $white;
    }
  }
  &__img {
    position: relative;
    height: rem-calc(200px);
    background-color: $blue;
    margin-left: auto;
    z-index: 2;
    @include media-breakpoint-up(md) {
      width: 100%;
      height: rem-calc(230px);
      max-width: 60%;
      margin-top: rem-calc(-60px);
    }  
    @include media-breakpoint-up(lg) {
      margin-top: rem-calc(-94px);
      height: rem-calc(330px);
    }
    @include media-breakpoint-up(xl) {
      margin-top: rem-calc(-154px);
      width: rem-calc(832px);
      height: rem-calc(462px);
    }
    img{
      position: absolute;
      left: 50%;
      bottom: 0;
      width: auto;
      transform: translateX(-50%);
      max-width: 100%;
      // height: calc(100% + 49px);
      max-width: 340px;
      @include media-breakpoint-up(sm) {
        max-width: 100%;
      }
      @include media-breakpoint-up(xl) {
        height: calc(100% + 49px);
        left: rem-calc(14px);
        transform: translateX(0);
      }
    }
  }
}

@media screen and (max-width: 340px){
  .j-learn__img img{
    max-width: 100%;
  }
}