.j-banner{
  position: relative;
  &__img {
    position: relative;
    &:after{
      content: "";
      padding-bottom: rem-calc(780px);
      display: block;
      @include media-breakpoint-up(md) {
        padding-bottom: rem-calc(820px);
      }
    }
    img{
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__wrap{
    position: absolute;
    top: calc(50%);
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
  &__title {
    line-height: 55px;
    margin-bottom: rem-calc(34px);
  }
  &__par{
    font-size: rem-calc(20px);
    line-height: 30px;
    font-family: 'Source Sans Pro';
    margin-bottom: rem-calc(24px);
    @include media-breakpoint-up(md) {
      font-size: rem-calc(24px);
    }
  }
}
