.j-about{
  padding-top: rem-calc(92px);
  padding-bottom: rem-calc(20px);
  &__title{
    font-size: rem-calc(32px);
    line-height: 47px;
    letter-spacing: 0.03em;
    font-family: 'Roboto';
    font-weight: 500;
    padding-bottom: rem-calc(16px);
    @include media-breakpoint-up(md) {
      font-size: rem-calc(40px);
    }
  }
  &__content{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: rem-calc(14px);
    line-height: 25px;
    letter-spacing: 0.03em;
    @include media-breakpoint-up(md) {
      font-size: rem-calc(16px);
    }
  }
  &__img{
    img{
      width: 100%;
    }
  }
}