.j-blog{
  background-color: #F9F9F9;
  padding: rem-calc(44px 0 34px 0);
  &__block{
    background: $white;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.18);
    border-radius: 0px 0px 5px 5px;
  }
  &__col{
    padding-top: rem-calc(20px);
    padding-bottom: rem-calc(20px);
  }
  &__img {
    position: relative;
    &:after{
      content: "";
      padding-bottom: rem-calc(218px);
      display: block;
    }
    img{
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__content{
    padding: rem-calc(19px);
  }
  &__title{
    color: $body;
    font-weight: 500;
    font-size: rem-calc(18px);
    line-height: 26px;
    letter-spacing: 0.06em;
    margin-bottom: rem-calc(8px);
    &-wrap{
      &:hover{
        .j-blog__title{
          color: $blue;
        }
        .icn-arrow{
          fill: $blue;
        }
      }
    }
  }
  &__par{
    font-size: rem-calc(14px);
    line-height: 20px;
    letter-spacing: 0.06em;
    min-height: 40px;
  }
}