@font-face {
    font-family: 'Noto Sans JP', sans-serif;
    src: url('NotoSansJP-Bold-Alphabetic.eot');
    src: url('NotoSansJP-Bold-Alphabetic.eot?#iefix') format('embedded-opentype'),
        url('NotoSansJP-Bold-Alphabetic.woff2') format('woff2'),
        url('NotoSansJP-Bold-Alphabetic.woff') format('woff'),
        url('NotoSansJP-Bold-Alphabetic.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans JP', sans-serif;
    src: url('NotoSansJP-Black-Alphabetic.eot');
    src: url('NotoSansJP-Black-Alphabetic.eot?#iefix') format('embedded-opentype'),
        url('NotoSansJP-Black-Alphabetic.woff2') format('woff2'),
        url('NotoSansJP-Black-Alphabetic.woff') format('woff'),
        url('NotoSansJP-Black-Alphabetic.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans JP', sans-serif;
    src: url('NotoSansJP-Light-Alphabetic.eot');
    src: url('NotoSansJP-Light-Alphabetic.eot?#iefix') format('embedded-opentype'),
        url('NotoSansJP-Light-Alphabetic.woff2') format('woff2'),
        url('NotoSansJP-Light-Alphabetic.woff') format('woff'),
        url('NotoSansJP-Light-Alphabetic.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans JP', sans-serif;
    src: url('NotoSansJP-Medium-Alphabetic.eot');
    src: url('NotoSansJP-Medium-Alphabetic.eot?#iefix') format('embedded-opentype'),
        url('NotoSansJP-Medium-Alphabetic.woff2') format('woff2'),
        url('NotoSansJP-Medium-Alphabetic.woff') format('woff'),
        url('NotoSansJP-Medium-Alphabetic.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans JP', sans-serif;
    src: url('NotoSansJP-Thin-Alphabetic.eot');
    src: url('NotoSansJP-Thin-Alphabetic.eot?#iefix') format('embedded-opentype'),
        url('NotoSansJP-Thin-Alphabetic.woff2') format('woff2'),
        url('NotoSansJP-Thin-Alphabetic.woff') format('woff'),
        url('NotoSansJP-Thin-Alphabetic.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans JP', sans-serif;
    src: url('NotoSansJP-Regular-Alphabetic.eot');
    src: url('NotoSansJP-Regular-Alphabetic.eot?#iefix') format('embedded-opentype'),
        url('NotoSansJP-Regular-Alphabetic.woff2') format('woff2'),
        url('NotoSansJP-Regular-Alphabetic.woff') format('woff'),
        url('NotoSansJP-Regular-Alphabetic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

